
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="center">
        <h1>ĐĂNG NHẬP</h1>
        @using (Html.BeginForm())
        {
        @Html.ValidationSummary(true)

                <form method="post">
                    <div class="txt_field">
                        <input type="text" name="username" />
                        <span></span>
                        <label>Username</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="password" />
                        <span></span>
                        <label>Password</label>
                    </div>
                    <input type="submit" value="Login" />
                </form>}
    </div>
</body>
</html>
