
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutSite.cshtml"; }

<div class="container my-4">
    <h3 class="text-center" style="color:red;">TIN TỨC</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/Public/img/banner1.jpg" class="card-img-top" alt="Yeezy Slides" style="height:200px;">
                <div class="card-body">
                    <a href="https://stockx.com/news/the-buyers-guide-yeezy-slides/" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Hướng dẫn của Người mua: Yeezy Slides
                    </a>
                    <p class="card-text">
                        Yeezy Slides đã mở ra thế giới Yeezy cho một lượng khán giả lớn hơn, vượt xa cả giày thể thao. 
                        Nhưng không ai trong số này có thể thành hiện thực nếu không có người tiền nhiệm của chúng, Yeezy Slippers.

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/banner2.jpg" class="card-img-top" alt="Yeezy Boost 350 V2" style="height:200px;">
                <div class="card-body">
                    <a href="https://stockx.com/news/the-buyers-guide-yeezy-boost-350-v2/" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Hướng dẫn của Người mua: Yeezy Boost 350 V2
                    </a>
                    <p class="card-text">
                        Adidas Yeezy Boost 350 ban đầu ra đời do nhu cầu thay đổi của người tiêu dùng, 
                        cụ thể hơn là sự gia tăng phổ biến của công nghệ FlyKnit của Nike và Roshe Run.

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/banner3.jpg" class="card-img-top" alt="Vans" style="height:200px;">
                <div class="card-body">
                    <a href="https://stockx.com/news/the-buyers-guide-vans/" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Hướng dẫn của Người mua: Vans
                    </a>
                    <p class="card-text">
                        Vans không khởi đầu là một công ty sản xuất giày trượt ván.
                        Anh em Paul và Jim Van Doren quan tâm nhiều hơn rất nhiều và đẹp hơn trong môn thể thao này kể từ những năm 1980,


                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/banner4.jpg" class="card-img-top" alt="Nike SB Dunk Low" style="height:200px;">
                <div class="card-body">
                    <a href="https://stockx.com/news/the-buyers-guide-nike-sb-dunk-low/" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Hướng dẫn của Người mua: Nike SB Dunk Low
                    </a>
                    <p class="card-text">
                        Nike Dunk không phải là mới đối với môn trượt ván. Trên thực tế, nó đã phổ biến
                        trong môn thể thao này kể từ những năm 1980, 
                       
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/banner5.jpg" class="card-img-top" alt="Air Jordan 4" style="height:200px;">
                <div class="card-body">
                    <a href="https://www.elleman.vn/phong-cach/ferrari-bst-thoi-trang-cao-cap" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Hướng dẫn của Người mua: Air Jordan 4
                    </a>
                    <p class="card-text">
                        Gần như mọi hình bóng Air Jordan mang tính biểu tượng đều gắn liền với 
                        một thời điểm quan trọng trong sự nghiệp của Michael Jordan.
                       

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/banner1.jpg" class="card-img-top" alt="Nike Dunk" style="height:200px;">
                <div class="card-body">
                    <a href="https://stockx.com/news/the-buyers-guide-nike-dunk/" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Hướng dẫn của Người mua: Nike Dunk
                    </a>
                    <p class="card-text">
                        Năm ngoái, một đôi Nike Dunks được bán với giá 50.000 USD. 
                        Người mua sắm bình thường có thể nhìn thấy một thống kê như thế này và cười hoài nghi, 
                      

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
