<a href="@Url.Action("GioHang","Giohang")"
   style="color:black;font-weight:bold; text-decoration:none; padding-left:10px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <i class="fas fa-shopping-cart" style="font-size:20px;"></i> 
    <img src="" />
    GIỎ HÀNG (@ViewBag.Tongsoluong)
</a>

