@model Sneaker.Models.Email
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    // Layout = null;
}
<h3 style="text-align:center;color:red;">Quản Lí Trợ Giúp</h3>
@using (Html.BeginForm("SendGmail", "TroGiup"))
{
    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <div class="list-group">

                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <table class="table">
                           
                            <tr>
                                <td align="right">&nbsp;</td>
                                <td align="left">
                                    @ViewBag.Message
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Email Đến :</td>
                                <td align="left" >
                                    <input id="txttoaddress" name="ToEmailId" width="250px" style="width:500px" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Tiêu Đề :</td>
                                <td align="left">
                                    <input id="txtsubject" name="Subject" width="250px" style="width:500px"></input>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Nội Dung :</td>
                                <td align="left">
                                    <textarea rows="4" cols="50" name="Message" id="txtmessage"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input type="submit" text="Send Message" />
                                </td>
                            </tr>
                        </table>
                    </div>


                </div>



            </div>

        </div>

    </div>}
    

