
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutSite.cshtml"; }

<div class="container my-3">
    <h3 class="text-center" style="color:red;">GIỚI THIỆU</h3>
    <p>
        Nike, là một tập đoàn đa quốc gia của Mỹ hoạt động trong lĩnh vực thiết kế, 
        phát triển, sản xuất, quảng bá cũng như kinh doanh các mặt hàng giày dép, 
        quần áo, phụ kiện, trang thiết bị và dịch vụ liên quan đến thể thao. 
        Trụ sở của công ty được đặt gần Beaverton, Oregon, tại khu vực đô thị Portland.
        Nike là nhà cung cấp giày thể thao và quần áo lớn nhất trên thế giới và cũng là một nhà sản xuất thiết bị thể thao danh tiếng.s
    </p>
    <div class="container text-center">
        <img src="~/Public/img/banner1.jpg" style="text-align:center; width:1000px; height:300px;" />
    </div>
    <p>
        <br />Ngay lập  tức Michael Jordan trở thành chàng tân sáng sáng giá nhất của NBA mùa đó
        Những đôi giày Jordan nhanh chóng hết hàng ngay trên các cửa hàng store của Nike khi anh trở thành tân binh của mùa giải trên
        Nhanh chóng ngay sau đó Nike Air Jordan 1 “Chicago Bulls” với phối màu trắng, đen, đỏ đã được tung ra, 
        đây là phiên bản được Michael Jordan mang lên mình đôi giày trong toàn bộ trận đấu của những năm 85 -86 lúc bấy giờ
    </p>
    <div class="container text-center">

        <img src="~/Public/img/banner2.jpg" style="text-align:center; width:1000px; height:300px;" />
    </div>
    <p>
        <br /> Phong trào cho những đôi giày sneaker lúc bấy giở nở rộ
        Sneaker head đông đảo đã làm cho nhiều người ngày càng có thiện cảm với những đôi giày của ông hoàng Nike lúc bấy giờ.
        Mũi giày thu gọn, Logo Nike được bành to ra hơn, Fom ôm gọn mắt cá chân cũng như cả bàn chân
    </p>
    <div class="container text-center">

        <img src="~/Public/img/banner3.jpg" style="text-align:center; width:1000px; height:300px;" />
    </div>
</div>
